*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
}
body{
    background:none;
}
header {
    width: 100%;
    height: 80px;
    background: #b612db;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 40px;
}
.logo{
    font-size:20px;
    font-weight:bold;
    color:#fefefe;
}
.ico{
    height:65px;
    width:130px;
}
.icon {
    position: relative;
    display: flex;
}
.icona{
    position:relative;
    display:inline-block;
    background:white;
    border:2px solid #fefefe;
    padding:20px;
    border-radius:20px 0 0 20px;
    height:40px;
    font-size:medium;
    box-sizing:border-box;
    
}
.searchico{
    position:relative;
    height:44px;
    display:flex;
    background:#b612db;
    border:1px solid #fefefe;
    border-radius:0 20px 20px 0;
    padding: 10px;
    
}
.searchico:hover{
    cursor:pointer;
}
.icona:focus{
    outline:none;
}
.check{
    display:none;
}

.nav-bar ul li a {
    position: relative;
    display:block;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif ,!important;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 3px;
}
.nav-bar ul{
    display:flex;
}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

    .nav-bar ul li a:hover:before {
        transform: scaleX(1);
        transform-origin: left;
    }
.sticky {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: +1;
    height: 80px;
}

@media only screen and (max-width:1320px){
        header{
            padding:0 50px;
        }
    .container-box {
        margin-left: auto;
        margin-right:auto;
    }
    }

@media only screen and (max-width:1200px) {
    .container {
        display: inline-grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px 15px;
        width:100%;
    }
    .container-box{
        margin-left:auto;
        margin-right:auto;
    }
}
@media only screen and (max-width:1100px) {
    header {
        padding: 0 16px;
    }

    .nav-bar ul li a {
        padding: 10px 17px;
    }

    .nav-bar ul li a {
        font-size: 15px;
    }

    .icona {
        height: 15px;
        width: 200px;
    }

    .container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px 10px;
        width:100%;
    }
    .container-box {
        margin-left: auto;
        margin-right:auto;
    }
}

@media only screen and (max-width:900px) {
    .check {
       display:block;
       cursor:pointer;
    }
.check .line{
    width: 30px;
    height:3px;
    background: #fefefe;
    margin:6px 0;
}
.nav-bar{
    height:0;
    position:absolute;
    top:80px;
    left:0;
    right:0;
    width:100vw;
    background:#b612db;
    border-color:#fefefe;
    transition:0.2s;
    overflow: hidden;
}
.nav-bar.active{
    z-index:+1;
    height:350px;
    width:100%;
}

.nav-bar ul{
    display:block;
    width:fit-content;
    margin: 35px auto 0 auto;
    text-align:center;
    transition:0.5s;
    opacity:0;
}
.nav-bar.active ul {
    opacity:1;
}
.nav-bar ul li a{
    margin-bottom:12px;
    margin-top:13px;
    font-size:17px;
}
    .container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px 5px;
        width:100%;
    }
    .container-box {
        margin-left: auto;
        margin-right:auto;
    }
}

@media only screen and (max-width:800px) {
    .container {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-gap: 20px 10px;
        width: 100%;
    }
    .container-box {
        margin-left: auto;
    }
}
@media only screen and (max-width:700px) {
    .container {
        display: inline-grid;
        grid-template-columns: auto;
        grid-gap: 20px 25px;
        width: 100%;
    }
    .container-box {
        margin-left: auto;
        width:60%;
    }
    .dtl-btn {
        margin-left: 30%;
    }
}

/* Footer design css*/
.f-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding-top: 70px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }
.copyright {
    padding: 1.25rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.text-center {
    text-align: center !important;
}
.c-white {
    color:#ffffff;
    font-weight:500;
}
.footer-col li span{
    display:inline-block;
    width:15px;
}
    /*responsive footer*/
    @media(max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
        .login {
            grid-template-columns: auto;
        }
    }

    @media(max-width: 574px) {
        .footer-col {
            width: 100%;
        }
    }